

.student_profile{}
.student_info{
	color: #E6E9EA;
	padding: 5px;
	width: 100%;
	border-spacing: 0px;
	margin-top: 50px;
}

.student_info tr{
}

.info_col{
	border-bottom: 1px solid #1C2845;
	width: 180px;
	padding: 6px 5px;
	text-align: right;
	font-size: 18px;
}

.info_val{
	border-bottom: 1px solid #1C2845;
	width: 480px;
	padding: 6px 5px;
	text-align: left;
	font-size: 18px;
}