
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>My Account</title>
	
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/glyphicon.css" />
	<link rel="stylesheet" type="text/css" href="../css/mystyle.css">
	<link rel="stylesheet" type="text/css" href="../css/resetPassword.css">
	<link rel="stylesheet" href="../../css/myaccount.css" />
	<link rel="stylesheet" type="text/css" href="../css/mystyle.css">
	
	<style>
		@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
	</style>
</head>
<body>
	<div class="full_container">
		<div class="account_header_wraper">
			<div class="account_header">
				<div class="account_logo">
					<a href="#"><img src="../images/logo.png" alt="Logo" /></a>
					<a href="#"><h2>Online School Portal</h2></a>
				</div>
				<div class="account_menu_top">
					<ul>
						<li><a href="/Result">&#x2630 Courses & Results</a></li>
						<li><a href="#">&#x27A4 Registration</a></li>
						<li><a href="/Result">&#x2738 Grade Report</a></li>
					</ul>
				</div>
				<div class="account_menu_icon">
					<ul>
						<li><a href="#">&#x274B Change Password</a></li>
						<li><a href="/logout"style="font-size: 26px;padding-top: 3px;" title="Logout">&#x27A5</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
			
		
		<div class="content_wraper">
			<div class="content_left">
				<div class="client_photo">
					<img src="../../images/profiles/<?php echo $photo;?>" alt="Profile Photo" />
				</div>
				<div class="client_name">
					<!-- <p>Welcome, <?php echo $name;?></P> -->
				</div>
				<div class="client_menu_section">
					<ul>
						<li><a href="/studentAccount" id="active" >My Account</a></li>
						<li><a href="/registration">Registration</a></li>
						<li><a href="">My Curriculam</a></li>
						<li><a href="">Finacials</a></li>
						<li><a href="/Course">Course</a></li>
						<li><a href="/Result">Results</a></li>
						<li><a href="/studentProfile">Profile</a></li>
						<li><a href="">Message</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
			
			<div class="content_right">
				<div class="my_account">
				</div>
				
				
				
				
				<div class="reset_password">
				<form action="" method="post">
					<div class="pass_reset_form">

						<div class="form_title">
							<h3> Password Change Form</h3>
						</div>
						
					<!-- 	<span id="error_msg"><?php echo $info;?></span> -->
						

						<div class="content_area">
							<input type="text" name="password" placeholder="Your Password" value="<%= oldpassword[0].password %>" />
							<!-- <span id="c1" class="glyphicon icon glyphicon-lock"></span> -->
						</div>
						<!-- <span id="error_msg"><?php echo $pass_error;?></span> -->
							
						<div class="content_area">
							<input type="password" name="cpassword"  placeholder="Enter New Password" value="" />
							<!-- <span id="c2" class="glyphicon icon glyphicon-lock"></span> -->
						</div>
						<!-- <span id="error_msg"><?php echo $cpass_error;?></span> -->
							
						<div class="content3">
							<input type="submit" name="update" value="update" />
							<input type="submit" name="clear" value="Clear" />
						</div>
						
						<div class="back_home">
							<a href="/studentAccount">Back Home</a>
						</div>
					</div>
				</form>
				
				
			</div>
				
				
				
				
				
				
					<div class="student_profile">
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		<div class="footer_wraper">
			<div class="footer container_center">
				<div class="footer_top">
				</div>
				<div class="footer_bottom">
					<p>Copyright 2018-19 &copy; onlineschool.com <br/> &reg All Right Reserved</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>